<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

  </head>

  <body>
    <header class="d-flex justify-content-center py-2">
      <ul class="nav nav-pills">
        <li class="nav-item nav-section">
          <a href="/home" id = "homePage" class="nav-link text-dark" aria-current="page">Home</a>
        </li>
        <li class="nav-item nav-section"><a href="/news" id = "news" class="nav-link text-dark">News & Updates</a></li>
        <li class="nav-item nav-section"><a href="/bands" id = "bands" class="nav-link text-dark">Band Discussions</a></li>
        <li class="nav-item nav-section"><a href="/album" id = "album" class="nav-link text-dark">Album Discussions</a></li>
        <li class="nav-item nav-section"><a href="/concerts" id = "concerts" class="nav-link text-dark">Concert Reviews</a></li>
        <li class="nav-item nav-section"><a href="/forum" id = "forum" class="nav-link text-dark">Community Forum</a></li>
        <li class="nav-item nav-section"><a href="/about" id = "about" class="nav-link text-dark">About Us</a></li>
      </ul>
    </header>
  </body>
</html>
