@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#album{
    background-color: #343a40; /* Dark gray (Bootstrap default) */
    color: #fff !important; /* White text */
    border: 1px solid #343a40; /* Border same as background */
    font-size: 16px;
    border-radius: 5px; /* Rounded edges */
    animation: slideIn 0.5s ease-out;
}

#about:hover{
    background-color: #495057; /* Slightly lighter gray */
}